body {
  background-color: black;
  color:white;
}

.air{
  text-align: center;
  width: 100%;
}

.playground{
  display: inline-block;
}

.board-container{
  text-align: center;
  margin-bottom: 20px;


}
  .cell {
    padding: 5px;
    font-size: 27px;
    width:30px; height:30px;text-align: center
  }
  
.cell img {
  width:27px; height:auto
}


.formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
}

.restart-button{
  display: none;
  width: 129px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(211, 33, 33);
  color: white;
  border-radius: 15px;
  margin:0 auto;    

}

.restart-button:hover{
  background-color: rgb(255, 69, 69);
}